.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.movie-card {
  background-color: #141414;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  color: #fff;
  padding: 0.5rem;
}

.movie-card img {
  width: 100%;
  border-radius: 8px;
}

.card-actions {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background: none;
  border: none;
  color: red;
  font-size: 20px;
  cursor: pointer;
}

button .filled {
  font-weight: bold;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}
