<div class="movies-container">
  <div class="page-header">
    <h1>{{ translate('movies.nowPlaying') }}</h1>
    <p>{{ translate('movies.discover') }}</p>
  </div>

  <div class="movies-grid">
    <p-card *ngFor="let movie of movies" styleClass="movie-card">
      <ng-template pTemplate="header">
        <div class="card-image">
          <img [src]="imageBase + movie.poster_path" [alt]="movie.title" />
          <p-button 
            [icon]="isInWishlist(movie.id) ? 'pi pi-heart-fill' : 'pi pi-heart'"
            (onClick)="toggleWishlist(movie)"
            styleClass="wishlist-btn"
            [class.filled]="isInWishlist(movie.id)"
          ></p-button>
        </div>
      </ng-template>

      <ng-template pTemplate="content">
        <div class="card-content">
          <h3>{{ movie.title }}</h3>
          <div class="meta-info">
            <span class="rating" [style.background-color]="getRatingColor(movie.vote_average)">
              {{ movie.vote_average.toFixed(1) }}
            </span>
            <span class="year">{{ movie.release_date | date:'yyyy' }}</span>
          </div>
          <p class="overview">{{ movie.overview | slice:0:100 }}{{ movie.overview.length > 100 ? '...' : '' }}</p>
          <p-button 
            [routerLink]="['/movie', movie.id]" 
            [label]="translate('btn.viewDetails')"
            icon="pi pi-external-link"
            styleClass="p-button-outlined w-full"
          ></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>

  <div class="pagination-controls">
    <p-button 
      icon="pi pi-chevron-left" 
      (onClick)="prevPage()" 
      [disabled]="currentPage === 1"
      styleClass="p-button-outlined"
    ></p-button>
    <span>{{ translate('movies.page') }} {{ currentPage }} {{ translate('movies.of') }} {{ totalPages }}</span>
    <p-button 
      icon="pi pi-chevron-right" 
      (onClick)="nextPage()" 
      [disabled]="currentPage === totalPages"
      styleClass="p-button-outlined"
    ></p-button>
  </div>
</div>
